.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.5em;
}
.third {
  text-decoration: underline green;
}
.second {
  text-decoration-line: line-through;
}
.first {
  text-decoration: overline red;
}
